body {
    margin: 2rem 5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    background-color: #fff;

}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

table {
    width: 50%;
    font-size: 1.1rem;
    border-spacing: 0;
    text-align: center;
    border: 1px double #0069d9;
    border-radius: 6px;
}

th {
    background: #0069d9;
    color: white;
    padding: 0.15rem 1.5rem;
    border: 1px solid #0069d9;
    font-weight: 500;
}

td {

    padding: 0.15rem 1.5rem;
    border: 1px solid #0069d9;
    font-weight: 500;
}

tr {
    border: 1px double #0069d9;
    line-height: 2rem;
}


.button input {
    margin-top: 2rem;
    background: #0069d9;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px 6px;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
}

.button label {
    margin-top: 2rem;
    background: #fff;
    color: #212529;
    padding: 0.5rem 1.5rem;
    border-radius: 6px 0 0 6px;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
}

.button2 {
    width: max-content;
    margin-top: 2rem;
    background: #0069d9;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
}

.button3 input {
    margin-top: 0.1rem;
}

.button2 a {
    color: white;
}

.button4 input {
    background: #8D97A1;
    color: white;
    padding: 0.2rem 1em;
    border-radius: 6px 6px;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
}

.fieldForm {
    width: 22rem;
}

.fieldForm label {
    margin-top: 1.1rem;
    background: #0069d9;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px 0 0 6px;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
    position: relative;
    line-height: 1.5rem;
    float: left;
    width: 7rem;
    box-sizing: border-box;
}

.fieldForm input, .fieldForm select {
    margin-top: 1.1rem;
    background: #fff;
    color: #212529;
    padding: 0.5rem 1.5rem;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
    position: relative;
    float: right;
    border-radius: 0 6px 6px 0;
    width: 15rem;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.fieldForm select option {
    line-height: 1.5rem;
}

#but {
    float: left;
    margin-top: 2rem;
    margin-left: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: 1px solid #0069d9;
    font-size: 1.1rem;
    color: white;
    background-color: #0069d9;
}



